<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>National Delay Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="datamaps.usa.min.js"></script>
</head>

<body>
<div id="container" style="height: 100vh"></div>
<input type="number" id="olat"  value="40"/>
<input type="number" id="olon" value="-70"/>
<input type="number" id="dlat"  value="30"/>
<input type="number" id="dlon" value="-122"/>

<button type="button" onclick="buttonHandler()">butt</button>
<script>
    var map = new Datamap({
        element: document.getElementById('container'),
        scope: 'usa'
    });

    function renderMap(olat, olon, dlat, dlon) {
        // removes children elements of target div 'container', then redraws the map with new points (limit 2 atm)
        // lat - lon limits not implemented, will give error when outside USA lat-lon boundaries
        var myNode = document.getElementById('container');
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }

        var map = new Datamap({
            element: document.getElementById('container'),
            scope: 'usa'
        });

        map.arc([
            {
                origin: {
                    latitude: olat,
                    longitude: olon
                },
                destination: {
                    latitude: dlat,
                    longitude: dlon
                }
            }
        ],  {strokeWidth: 1, arcSharpness: 1.4});
    }

    function buttonHandler() {
        // to draw lines, pass values into it. In this example the button gets values from fields.
        var olat = document.getElementById('olat').value;
        var olon = document.getElementById('olon').value;
        var dlat = document.getElementById('dlat').value;
        var dlon = document.getElementById('dlon').value;
        renderMap(olat, olon, dlat, dlon);
    }

</script>

</body>
</html>
