<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Flight Delay Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css" />

        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="/static/js/moment.js"></script>
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script type="text/javascript">
        	$(function () {
                	$('#datetimepicker1').datetimepicker({
                            	format: 'dddd, MMMM Do YYYY'
                    });
                    $('#datetimepicker2').datetimepicker({
                                format: 'dddd, MMMM Do YYYY'
                        //useCurrent: false
                    });
                    $("#datetimepicker1").on("dp.change", function (e) {
                            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                        	format: 'dddd, MMMM Do YYYY'
                    	});
                	$("#datetimepicker1").on("dp.change", function (e) {
                        	$('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                      	});
                	$("#datetimepicker2").on("dp.change", function (e) {
                        	$('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                    	});
        			$('#datetimepicker3').datetimepicker({
                                format: 'LT'
                    });
        			$('#datetimepicker4').datetimepicker({
                                 format: 'LT'
                    });
                });

                </script>

        <style>
            .jumboedit {
                    background-color: transparent;
                    text-align: center;
                    margin:0;
                    padding-bottom: 2em;
                 }
            .jumboedit h1 {
                             font-size: 4em;
                         }
            body {
                             background-image: url("templates/photo3.jpeg");
                             background-size: cover;
                             -webkit-background-size: cover;
                             -moz-background-size: cover;
                             -o-background-size: cover;
                            background-repeat: no-repeat;
                             background-attachment: fixed;
                             background-position: center;
                         }
        </style>
    </head>
<body>
    <div class="container" style="padding-bottom: 5em">
            <div class="row">
                <!-- Container for base div width -->
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Jumbotron container -->
                    <div class="jumbotron jumboedit">
                        <h1>WeVision</h1>
                    </div>

                   <!-- Nav container div without any responsiveness whatsoever, contents defined in Tabs container div -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#personalTab">Personal</a></li>
                        <li><a data-toggle="tab" href="#businessTab">Business</a></li>
                    </ul>

                    <!--Tabs container div-->
                    <div class="tab-content">

                        <!-- Put contents of Personal tab inside this div below-->
                        <div id="personalTab" class="tab-pane fade in active">
                            <form id="form" action="/find" method="post">
                                <div class="row" style="margin-top: 2em;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="flightNo">Flight No.</label>
                                            <input type="text" name="flightno" class="form-control" id="flightNo" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="airline">Airline</label>
                                            <input type="text" name="airline" class="form-control" id="airline" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="origin">Origin</label>
                                            <input type="text" name="origin" class="form-control" id="origin" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="destination">Destination</label>
                                            <input type="text" name="destination" class="form-control" id="destination" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="datetimepicker1">Departure Date</label>
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' name="departuredate" class="form-control" id="departureDate"/>
                        				<span class="input-group-addon">
                         				<span class="glyphicon glyphicon-calendar"></span>
                     				</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="datetimepicker2">Arrival Date</label>
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type='text' name="arrivaldate" class="form-control" id="arrivalDate"/>
                        				<span class="input-group-addon">
                         				<span class="glyphicon glyphicon-calendar"></span>
                     				</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="datetimepicker3">Departure Time</label>
                                            <div class='input-group date' id='datetimepicker3'>
                                                <input type='text' name="departuretime" class="form-control" id="departureTime"/>
                        				<span class="input-group-addon">
                         				<span class="glyphicon glyphicon-time"></span>
                     				</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="datetimepicker4">Arrival Time</label>
                                            <div class='input-group date' id='datetimepicker4'>
                                                <input type='text' name="arrivaltime" class="form-control" id="arrivalTime"/>
                        				<span class="input-group-addon">
                         				<span class="glyphicon glyphicon-time"></span>
                     				</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input style="display: block; width: 100%; margin-top: 2em;" type="submit" class="btn btn-primary" id="submit" />
                            </form>
                        </div>

                        <!-- Put contents of Business tab inside div below-->
                        <div id="businessTab" class="tab-pane fade">
                            <form id="formBusiness" action="/find" method="get">
                                <div style="margin-top: 2em; ">
                                    <label class="control-label">Upload your CSV file here</label>
                                    <input id="inputFile" type="file" class="file"/>
                                </div>
                                <input style="display: block; width: 100%; margin-top: 2em;" type="submit" class="btn btn-primary" id="submitBusiness">
                            </form>
                        </div>

                    </div>


                </div>

            </div>
        </div>




</body>
</html>